<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
   <div class="col-md-4 pull-right">
     <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
     <p>
       <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
     </p>
   </div>
   <div class="col-md-8">
     <% if logged_in? and @recipe.chef == current_user || current_user.admin? %>
     <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %> 
      <% end %>
     <h3><%= @recipe.summary %></h3>
     <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>   
    </div>
      <% if logged_in? and current_user.admin? %>
       <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: {confirm: "Are you sure?" } %>
      <% end %>
     <div class="well">
      <p>
         <% if @recipe.styles.any? %>
      <p>Style: <%= render @recipe.styles %></p>
      <% end %>
       <% if @recipe.ingredients.any? %>
     <p>Ingredient: <%= render @recipe.ingredients %></p>
     <% end %>
      <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right"> 
         <%= link_to like_recipe_path(@recipe, like: true), method: :post do %> &nbsp <%= @recipe.thumbs_up_total %>
            <icon class="glyphicon glyphicon-thumbs-up"/>
         <% end %>
         <%= link_to like_recipe_path(@recipe, like: false), method: :post  do %> &nbsp <%= @recipe.thumbs_down_total %>
            <icon class="glyphicon glyphicon-thumbs-down"/>
         <% end %>
      </div>
</div>

 <% @reviews.each do |review| %>
<div class="row">
  <div class="col-md-8 pull-right">

     <h4><%= link_to review.title, review_path(review) %></h4>
    <img class="media-object" <%= link_to gravatar_for(review.chef, size: "100x100", class: "gravatar") %>
     <br>
       <span class="quiet"><small>author: <%= review.chef.chefname %></small></span>
    </img> 
     <p><%= review.review_text %></p>
     <p>
        <span class="quiet"><small>created: <%= time_ago_in_words(review.created_at) %> ago, </small></span>
        <span class="quiet"><small>updated <%= time_ago_in_words(review.updated_at) %> ago</small></span>
     </p>
  
    <% if review.rating == 5 %>
    <span class="fa fa-star" data-rating="1"></span>
    <span class="fa fa-star" data-rating="2"></span>
    <span class="fa fa-star" data-rating="3"></span>
    <span class="fa fa-star" data-rating="4"></span>
    <span class="fa fa-star" data-rating="5"></span>
    <% end %>
    
    <% if review.rating == 4 %>
    <span class="fa fa-star" data-rating="1"></span>
    <span class="fa fa-star" data-rating="2"></span>
    <span class="fa fa-star" data-rating="3"></span>
    <span class="fa fa-star" data-rating="4"></span>
    <% end %>
    
    <% if review.rating == 3 %>
    <span class="fa fa-star" data-rating="1"></span>
    <span class="fa fa-star" data-rating="2"></span>
    <span class="fa fa-star" data-rating="3"></span>
    <% end %>
    
    <% if review.rating == 2 %>
    <span class="fa fa-star" data-rating="1"></span>
    <span class="fa fa-star" data-rating="2"></span>
    <% end %>
    
    <% if review.rating == 1 %>
    <span class="fa fa-star" data-rating="1"></span>
    <% end %>
     </div>
    </div>
  <% end %>

<h5><%= link_to 'Return to Recipes listing', recipes_path, class: "btn btn-warning btn-small" %>   </h5>